<div id="c{{pos}}.{{cardNo}}" 
	[ngClass]="{'card':true, 
				'selectableFrom':options.selectableFrom,
				'selectableTo':options.selectableTo && (!options.selected), 
				'selectable':options.selectableFrom || options.selectableTo,
				'from':options.selected}" #cardref>
	<ng-container *ngIf="options.selectableFrom || options.selectableTo">
		<img  src="/assets/cards/{{filename()}}" (mousedown)="toggleSelection()"/>
	</ng-container>
	<ng-container *ngIf="!(options.selectableFrom || options.selectableTo)">
		<img  src="/assets/cards/{{filename()}}"/>
	</ng-container>
</div>