.card{
        width: 73px;
        height: 6em;
      
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
.selectable{
	cursor:pointer;
}