.player-pile{
  	padding-right:15px;
}
.player-hand{
	display:flex;
  	flex-flow: row ;
  	padding-right:15px;
}
.player-stacks {
	display:flex;
  	flex-flow: row ;
  	/*border:black solid 1px;*/
  	max-width:290px;
}